@import "variables";

@mixin content{
  margin: 0 auto;
  padding: 0;
  background-color: #ADCCAC;
  border: 5px solid #C4C7FF;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  margin-top: 3%;
}
@mixin content-inner{
  border:1px gray solid;
  width:200px;
  height:200px;
  border-radius:100px;
  margin:20% auto;
  padding:30px;
  @include vertical-gradient($circle-color, $circle-color2);
  @include vertically-centered-element;
}

@mixin vertically-centered-element{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin vertical-gradient($fromColor, $toColor) {
  background-image:-moz-linear-gradient(top, $fromColor, $toColor);
  background-image:-webkit-linear-gradient(top, $fromColor, $toColor);
  background-image:-o-linear-gradient(top, $fromColor, $toColor);
  background-image:-ms-linear-gradient(top, $fromColor, $toColor);
}

@mixin opacity-transition($opacity, $transition){
  @include transition($transition...);
  opacity:($opacity);
}

@mixin margin-transition($margin, $transition){
  @include transition($transition...);
  margin-top: $margin;
}

@mixin position($duration, $timing){
  position: relative;
  left:10px;
  @include transition-duration($duration...);
  @include transition-timing-function($timing...);
  cubic-bezier: $timing; 
}

@mixin position-transition($transition){
  left:200px;
  @include transition($transition...);
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}));
}

@mixin transform-rotate($deg, $transition){
  @include transform(rotate(#{$deg}));
  @include transition($transition...);
}

@mixin transform-scale($scale, $transition){
  @include transform(scale($scale)); 
  @include transition($transition...);
}

@mixin anims{
  width:300px;
  height:225px;
  background:url(images/kitty.png) no-repeat;
  position:absolute;
}

@mixin kitty{
  @include animation-duration (10s);
  @include animation-timing-function (ease-in-out);
  @include animation-iteration-count (infinite);
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}));
}

@mixin horizontal-keyframe($name, $start){
  @keyframes #{$name}{
    from { #{$start}: 10px;}
    50% { #{$start}: 190px;}
    to { #{$start}: 10px;}   
  }
}




// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

//generic transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    -ms-transition-property:     $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    -ms-transition-property:     $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -ms-transition-timing-function:     $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -ms-transition-delay:     $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

//generic animation
@mixin animation($animation...) {
  -o-animation:       $animation;
  -moz-animation:     $animation;
  -webkit-animation:  $animation;
  animation:          $animation;
}
@mixin animation-name($name...) {
  -o-animation-name:      $name;
  -moz-animation-name:    $name;
  -webkit-animation-name: $name;
  animation-name:         $name;
}
@mixin animation-duration($duration...) {
  -o-animation-duration:      $duration;
  -moz-animation-duration:    $duration;
  -webkit-animation-duration: $duration;
  animation-duration:         $duration;
}
@mixin animation-timing-function($timing...) {
  -o-animation-timing-function:       $timing;
  -moz-animation-timing-function:     $timing;
  -webkit-animation-timing-function:  $timing;
  animation-timing-function:          $timing;
}
@mixin animation-iteration-count($count...) {
  -o-animation-iteration-count:       $count;
  -moz-animation-iteration-count:     $count;
  -webkit-animation-iteration-count:  $count;
  animation-iteration-count:          $count;
}
@mixin animation-direction($direction...) {
  -o-animation-direction:       $direction;
  -moz-animation-direction:     $direction;
  -webkit-animation-direction:  $direction;
  animation-direction:          $direction;
}
@mixin animation-fill-mode($fill...) {
  -o-animation-fill-mode:       $fill;
  -moz-animation-fill-mode:     $fill;
  -webkit-animation-fill-mode:  $fill;
  animation-fill-mode:          $fill;
}
@mixin animation-play-state($state...) {
  -o-animation-play-state:      $state;
  -moz-animation-play-state:    $state;
  -webkit-animation-play-state: $state;
  animation-play-state:         $state;
}