@import "mixins";
@import "variables";
@import "nav";

h1{
  text-align: center;
}
.content {
  @include content;
}

#opacity {
  @include content-inner; 
  @include opacity(1, 0s);  

  &:target, &:hover{
  cursor:pointer;
  @include opacity-transition(.2, 2s);
  }
}

#margin {
  @include content-inner;
  @include margin(100px, 0s);
  
  &:target, &:hover{
  cursor:pointer;
  @include margin-transition(150px, 2s);
  }
}